.main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        group-name
      %ul.main-header__left-box__members
        Member:
        %li.member
          name
        %li.member
          name
        %li.member
          name
    .main-header__edit-box
      = link_to "Edit"
  .messages
    .message
      .upper-message
        .upper-message__user-name
          メンバー
        .upper-message__date
          2020/6/12
      .lower-message
        .lower-message__content
          message
    .message
      .upper-message
        .upper-message__user-name
          メンバー
        .upper-message__date
          2020/6/12
      .lower-message
        .lower-message__content
          message
    .message
      .upper-message
        .upper-message__user-name
          メンバー
        .upper-message__date
          2020/6/12
      .lower-message
        .lower-message__content
          message
  .form
    %form
      %input.form__message
      .form__mask
        %lable.form__mask__image
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit',value: 'Send'}